*{margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;}

header{padding: 40px 0;
    background-color: rgb(44, 62, 80);}

.header-1{display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;}

.header-1 h1{color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;}
#nav a{color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    padding: 15px ;}

#nav a:hover{color: rgb(42, 62, 82);
    text-shadow: none;
    transition-delay: 180ms;}


#menu{display: flex;}

#hamburguer{width: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 25px;
}

.line{
    height: 2px;
    background-color: white;
    position: relative;
}

@media(max-width: 800px){
    #menu a{display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid black;}

    #menu{display: block;
        position: absolute;
        width: 100%;
        top: 112px;
        right: 0px;
        background-color: rgb(8, 187, 151);
        text-shadow: 1px 1px 1px black;
        height: 0;
        z-index: 1000;
        transition: .7s;
        visibility: hidden;
        overflow-y: hidden;
        }

    #hamburguer{display: flex;}
}

@media(max-width: 379px){
    #menu{top: 145px;}
}

@media(max-width: 270px){
    .header-1{flex-direction: column;}
    #hamburguer{margin-top: 20px;
        padding: 0;}
    #menu{top: 188px;}
}


#nav.active #hamburguer #line2{
    display: none;
}

#nav.active #hamburguer #line1{
    transition: .7s;
    transform: rotate(45deg);
    bottom: -7px;
}

#nav.active #hamburguer #line3{
    transform: rotate(135deg);
    transition: .7s;
    top: -11px;
}

#nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}





.sec-1-padding{padding: 60px 0;
    background-color: rgb(26, 188, 156);}

.sec-1-flex{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;}

.sec-1-avatar{background-image: url(imagens/avataaars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14rem;
    height: 14rem;
    margin-bottom: 30px;}

.sec-1-flex h1{color: white;
    font-size: 2.3em;
    margin-bottom: 20px;
    text-align: center;}

.sec-1-flex p{font-size: 1.4em;
    color: white;
    margin-bottom: 20px;
    text-align: center;}





.sec-2-padding{padding: 60px 0;}

.sec-2-padding h1{text-align: center;
    color: rgb(44, 62, 80);
    font-size: 2.2em;
    margin-bottom: 20px;
    text-transform: uppercase;}

.sec-2-flex{display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;}

.sec-2-flex .img{width: 22em;
    height: 16em;
    margin: 23px 11px;
    border-radius: 8px;}

#img-1{background-image: url(imagens/cabin.png);
    background-repeat: no-repeat;
    background-size: contain;}

#img-2{background-image: url(imagens/cake.png);
    background-repeat: no-repeat;
    background-size: contain;}

#img-3{background-image: url(imagens/circus.png);
    background-repeat: no-repeat;
    background-size: contain;}

#img-4{background-image: url(imagens/game.png);
    background-repeat: no-repeat;
    background-size: contain;}

#img-5{background-image: url(imagens/safe.png);
    background-repeat: no-repeat;
    background-size: contain;}

#img-6{background-image: url(imagens/submarine.png);
    background-repeat: no-repeat;
    background-size: contain;}
                    
@media(max-width: 330px){
    .sec-2-flex .img{margin: 0;}}





.sec-3-padding{padding: 60px 0;
    background-color: rgb(26, 188, 156);}

.sec-3-flex{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 725px;
    padding: 10px;
    margin: auto;}

.sec-3-flex h1{text-align: center;
    color: white;
    font-size: 2.2em;
    margin-bottom: 30px;
    text-transform: uppercase;}

.sec-3-flex #p{columns: 2;
    line-height: 30px;
    text-align: center;
    font-size: 1.4em;
    margin: 5px 5px;
    color: white;
    text-align: justify;}

.sec-3-flex a{text-decoration: none;
    font-size: 1.3em;
    color: white;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;}

@media(max-width: 500px){
    .sec-3-flex #p{columns: 1;}}





.sec-4-padding{padding: 60px 0;}

.sec-4-padding h1{text-align: center;
    font-size: 2.2em;
    color: rgb(44, 62, 80);
    margin-bottom: 30px;
    text-transform: uppercase;}

.sec-4-flex{display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: auto;
    padding: 10px;}

.sec-4-flex input{padding: 25px 0;
    margin-bottom: 15px;
    font-size: 1.3em;
    border: none;
    border-bottom: 1px solid grey;
    text-align: left;}

.sec-4-flex a{text-decoration: none;
    font-size: 1.4em;
    color: white;
    padding: 15px 25px;
    background-color: rgb(26, 188, 156);
    border-radius: 5px;
    align-self: flex-start;}





.footer-padding{padding: 80px 0;
    background-color: rgb(44, 62, 80);}    

.footer-flex{display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    width: 75%;
    margin: auto;}

.footer-about{width: 50%;
    margin: 20px;}

.footer-about h2{font-size: 2em;
    text-align: center;
    color: white;
    margin: 20px 0;}

.footer-about p{font-size: 1.25em;  
    color: white;
    text-align: center;
}

@media(max-width: 550px){
    .footer-flex{flex-direction: column;}
    .footer-about{width: auto;
        margin: 0;}}



.change #nav{display: block;}













